body{
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 120px;
    height: 50px;
}
.first-part{
    background-color: rgb(211, 235, 211);
}
.page-front{
    padding: 40px;
    
}
.all-button{
    background-color: rgb(7, 160, 84);
    border: none;
    border-radius: 40px;
    color: white;
    height: 35px;
    width: 120px;
}
#sing-in{
    width: 80px;
    height: 30px;
    margin-top: 4px;
}
span{
    color: rgb(7, 160, 84);
}
.dialog{
    font-weight: 700;
}
.info-icon img{
    width: 70px;
    height: 75px;
}
section{
    margin-bottom: 100px;
}
.man{
    width: 100px;
    height: 100px;
}
#blog{
    padding: 80px 300px;
}
.info-icon img{
    width: 70px;
    height: 75px;
    }  

.info-box{
    margin: 3px ;
    border-radius: 10px;
    background-color: rgb(235, 253, 235);
    padding: 40px 0;
}
.info-box:hover{
    background-color: white;
    box-shadow: 3px 3px 20px lightgrey;
}

.card-deck img{
    margin: 20px 15px;
}
.card{
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 20px lightgray;
}
.course-img img{
    margin: 20px 15px;

}
.one{
    width: 25px;
    height: 25px;
}
.distance-from-man{
    padding-left: 50px;
}
.last-part{
    background-color: rgba(29, 25, 29, 0.945);
    color: white;
    padding: 80px 0;
}
